include LICENCE
include README.md
include pyproject.toml

recursive-include piboufilings *.py

global-exclude __pycache__
global-exclude *.py[cod]
global-exclude *.so
global-exclude .DS_Store
global-exclude .git
global-exclude .gitignore
recursive-exclude demo_local_logs *
recursive-exclude demo_local_output *
recursive-exclude demo_local_raw *
recursive-exclude logs *
recursive-exclude out *
recursive-exclude data_parsed *
recursive-exclude data_raw *
